@import url('projects/base.css');
@import url('projects/header.css');
@import url('projects/cards.css');
@import url('projects/project-header.css');
@import url('projects/typography.css');
@import url('projects/badges.css');
@import url('projects/context-box.css');
@import url('projects/metrics.css');
@import url('projects/hero-text.css');
@import url('projects/outcomes.css');
@import url('projects/tech-stack.css');
@import url('projects/tabs.css');
@import url('projects/animations.css');
@import url('projects/responsive.css');
